@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('fonts/GoogleSans-Bold.ttf');
}
@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('fonts/GoogleSans-Regular.ttf');
}
body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background: #fafbfc;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
